# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Compiled output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Testing
coverage/

# IDE and Editor files
.vscode/
.idea/

# Logs
logs/
*.log

# Dependencies
# You might want to uncomment the following lines if using Prisma and PostgreSQL or other databases
# /prisma/.env
# /prisma/.env.test

# Miscellaneous
.DS_Store
Thumbs.db
